:root{
  font-size: 16px;
}

@media (max-width: 48rem){
  .BlockContainer{
    width: 100%;
    margin-left: 0rem;
  }

}

@media (max-width: 41rem){

  .card-link{
    margin: 3rem
  }
  p {
    font-size: 1.5em;
  }
  a{
    font-size: 1.5em;
  }
  .card-text{
    font-size: 1em;
  }


}

@media (min-width: 48rem) and (max-width: 61rem){
  .card-link{
    margin: 3rem
  }
}

@media (min-width: 18rem) and (max-width: 37rem){
  body{
    width: 37rem
  }

  .card-text{
    font-size: 1rem;
  }

}
