body, html {
  height: 100%;
}

.parallax {
  background-image: url('../images/SetupImages/eclipse.jpg');

  height: 100%;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 a,  a:visited {
    color: #42b23e !important;
}

 a:hover,  a:active {
    color: #42b23e !important;
}

a {
    color: #42b23e !important;
}
