---
import { Image } from "astro:assets"
import Layout from "../layouts/Main.astro"
---
<Layout>
  <h1 class="text-3xl text-center mb-6">Bolas de Fuego / Nejapa Fireballs</h1>
  
  <p class="text-xl my-4 w-4/5 mx-auto">
    As a remembrance of a volcanic eruption that forced the inhabitants of the town of Nejapa to evacuate, in which the eruption looked like fire rising from the ground, it's a celebration that happens every August 31st.
    Some inhabitants also state that this celebration commemorates when the Devil attacked Saint Jerome with fireballs.
    Two teams attack each other with fireballs across the main street.
  </p>

  <div class="flex flex-col items-center mx-auto w-4/5 gap-6">
    <Image src="/images/nejapa_1.webp" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/nejapa_2.webp" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/nejapa_3.jpg" alt="" width={256} height={256} class="rounded-md object-contain" />
  </div>

  <div class="flex flex-col items-center w-4/5 mx-auto py-2 mt-7">
		<a href="https://www.domestika.org/fr/diegodn">
			Image credit: Diego Díaz Nuñez
		</a>
	</div>
</Layout>