---
import { Image } from "astro:assets"
import Layout from "../layouts/Main.astro"
---
<Layout>
  <h1 class="text-3xl text-center mb-6">Festival de la Calabiuza</h1>
  
  <p class="text-xl my-4 w-4/5 mx-auto">Se celebra cada 1 de noviembre. Tiran de carretas chillonas y recorren las principales calles del municipio. Ángeles somos y del cielo venimos pidiendo ayote para todo el camino</p>

  <div class="flex flex-col items-center mx-auto w-4/5 gap-6">
    <Image src="/images/calabiuza_1.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/calabiuza_2.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/calabiuza_3.png" alt="" width={256} height={256} class="rounded-md object-contain" />
  </div>

</Layout>