---
import { Image } from "astro:assets"
import Layout from "../layouts/Main.astro"
---
<Layout>
  <h1 class="text-3xl text-center mb-6">Skull Festival / La Calabiuza Festival</h1>
  
  <p class="text-xl my-4 w-4/5 mx-auto">
    It's a festival celebrated on the eve of The Commemoration of All the Faithful Departed.
The inhabitants of the town of Tonacatepeque dress up as angel and demons.
Some of them dress up as Siguanaba.
They also make many Weeping Wagons adorned with skulls and pumpkins known as ayote.
This festival is celebrated all night with bonfires being lit and people dancing around them.
After that, the Wagons are pulled across the main streets of the town while everyone screams: "We are angels that came from sky, we need ayote to continue our path".
The festival ends with the inhabitants giving ayote to all participants.
  </p>

  <div class="flex flex-col items-center mx-auto w-4/5 gap-6">
    <Image src="/images/calabiuza_1.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/calabiuza_2.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/calabiuza_3.png" alt="" width={256} height={256} class="rounded-md object-contain" />
  </div>

</Layout>