---
import { Image } from "astro:assets"
import Layout from "../layouts/Main.astro"
---
<Layout>
  <h1 class="text-3xl text-center mb-6">Festival of Lanterns / Los Farolitos Festival</h1>
  
  <p class="text-xl my-4 w-4/5 mx-auto">
    It's a festival celebrated on the eve of the Nativity of the Blessed Virgin Mary across many towns in Ahuachapán Department. 
It was originally celebrated in the town of Ahuachapán where a lantern was placed in each house.
Nowadays this tradition has extended to many towns where not only houses but also church, town halls and parks are adorned with lanterns.
It has been celebrated for 170 years on September 7th.

As a more detailed example, in the town of Ataco, a figure of the Virgin Mary is carried in a procession through the town.
This festival is celebrated all night and ends with a fireworks display.
  </p>

  <div class="flex flex-col items-center mx-auto w-4/5 gap-6">
    <Image src="/images/farolitos_1.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/farolitos_2.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/farolitos_3.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/farolitos_4.png" alt="" width={256} height={256} class="rounded-md object-contain" />
  </div>
</Layout>