---
import { Image } from "astro:assets"
import Layout from "../layouts/Main.astro"
---
<Layout>
  <h1 class="text-3xl text-center mb-6">Festival de los Farolitos</h1>
  
  <p class="text-xl my-4 w-4/5 mx-auto">Celebracion en honor a las víspera del nacimiento de la Virgen María</p>

  <div class="flex flex-col items-center mx-auto w-4/5 gap-6">
    <Image src="/images/farolitos_1.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/farolitos_2.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/farolitos_3.png" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/farolitos_4.png" alt="" width={256} height={256} class="rounded-md object-contain" />
  </div>
</Layout>