---
import { Image } from "astro:assets"
import Layout from "../layouts/Main.astro"
---
<Layout>
  <h1 class="text-3xl text-center mb-6">Festival de la Piña</h1>
  
  <p class="text-xl my-4 w-4/5 mx-auto">
    It's a festival to celebrate the pineapple harvest in the town of Santa Maria Ostuma.
    It's held twice per year.
    Inhabitants create many products using pineapple, such as jam, juice, tamales and pupusas.
    The town is decorated with many pineapple-themed images.
    According to the legend, long ago an angel came to the town and was injured by the pineapple shrub and his blood fell to the ground making it fertile for pineapples to grow.
  </p>

  <div class="flex flex-col items-center mx-auto w-4/5 gap-6">
    <Image src="/images/pina_1.jpg" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/pina_2.jpg" alt="" width={256} height={256} class="rounded-md object-contain" />
    <Image src="/images/pina_3.jpg" alt="" width={256} height={256} class="rounded-md object-contain" />
  </div>

</Layout>