---
---

<footer class="w-full bg-stone-950 flex flex-col items-center text-white py-10 lg:px-14">
  <div class="flex flex-col items-center lg:flex-row lg:justify-between w-full">
  <div class="flex flex-col items-center lg:flex-row lg:mt-8 lg:justify-between w-full">
    <span class="text-xs"
    >&copy; {new Date().getFullYear()}</span
  >
  </div>
</footer>
